<section class="dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">{{idProducto == undefined ? "Agregar un nuevo producto" : "Editar producto con ID "+idProducto}}</h2>
        <form [formGroup]="createProductoForm" (ngSubmit)="onSubmit()">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del
                        producto</label>
                    <input type="text" formControlName="nombre" id="nombre"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Nombre del producto">
                    <div *ngIf="hasErrors('nombre','required')" class=" text-red-500 text-sm mt-1">
                        <small>El nombre es requerido</small>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="descripcion"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                    <textarea id="descripcion" rows="8" formControlName="descripcion"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Describe el producto en máximo de 250 palabras"></textarea>
                    <div *ngIf="hasErrors('descripcion','required')" class=" text-red-500 text-sm mt-1">
                        <small>La descripción es requerida</small>
                    </div>
                    <div *ngIf=" hasErrors('descripcion','minlength')" class=" text-red-500 text-sm mt-1">
                        <small>Mínimo 10 palabras</small>
                    </div>
                    <div *ngIf="hasErrors('descripcion','maxlength') " class=" text-red-500 text-sm mt-1">
                        <small>Máximo 250 palabras</small>
                    </div>
                </div>

                <div class="w-full">
                    <label for="Precio"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
                    <input type="number" formControlName="precio" id="precio"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="$49999">
                    <div *ngIf="hasErrors('precio','required')" class=" text-red-500 text-sm mt-1">
                        <small>El precio es requerido</small>
                    </div>
                </div>

                <!-- Lista de categorías agregadas -->
                <!-- <div class="sm:col-span-2" *ngIf="categoriasAgregadas().length > 0">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Categorias agregadas:</h3>
                    <ul class="list-disc pl-5 mt-2">
                        <li *ngFor="let categoria of categoriasAgregadas()"
                            class="text-sm text-gray-700 dark:text-gray-300">
                            {{ categoria.nombre }}
                            <button type="button" (click)="eliminarCategoria(categoria)"
                                class="text-red-500 hover:text-red-700 ml-2">
                                Eliminar
                            </button>
                        </li>
                    </ul>
                </div> -->
                <div class="sm:col-span-2" *ngIf="categoriasAgregadas().length > 0">
                    <h6 class="text-sm mt-2 mb-2 font-semibold text-gray-900 dark:text-white">Categorías Seleccionadas:</h6>
        
                    <ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">
                      <li *ngFor="let categoria of categoriasAgregadas()"
                        class="flex items-center space-x-3 rtl:space-x-reverse">
                        <svg class="shrink-0 w-3.5 h-3.5 text-tiaras-wine dark:text-green-400" aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5.917 5.724 10.5 15 1.5" />
                        </svg>
                        <span>{{ categoria.nombre}}</span>
                        <button type="button" (click)="quitarCategoria(categoria)"
                          class="text-tiaras-wine text-sm hover:text-white ml-2">
                          <svg class="w-6 h-6 text-tiaras-wine hover:text-tiaras-beige dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                              d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                              clip-rule="evenodd" />
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </div>

                <!-- Select with Search -->
                <!-- <div class="sm:col-span-2">
                    <div #dropdownSearch id="dropdownSearch"
                        class="z-10 bg-white rounded-lg shadow-sm  dark:bg-gray-700 w-full">
                        <div class="p-3 w-100">
                            <label for="input-group-search" class="sr-only">Buscar...</label>
                            <div class="relative">
                                <app-input (onDebounce)="buscarCategoria($event)"
                                    [placeholder]="'Buscar...'">Categorías</app-input>
                            </div>
                        </div>

                        <ul class="px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownSearchButton">
                            <li *ngFor="let categoria of categorias()">
                                <div *ngIf="!categoriasAgregadas().includes(categoria)"
                                    class="flex items-center ps-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                    <input id="checkbox-item-11" type="checkbox" [value]="categoria"
                                        (change)="agregarCategoria(categoria)"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-11"
                                        class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300">{{
                                        categoria.nombre }}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="sm:col-span-2">
                    <div #dropdownSearch id="dropdownSearch" class="z-10 rounded-lg  dark:bg-gray-700 w-full">
                      <div class="pr-0 w-100">
                        <label for="input-group-search" class="sr-only">Buscar...</label>
                        <div class="w-80">
                          <app-input (onDebounce)="buscarCategoria($event)" [placeholder]="'Buscar...'">Categorias</app-input>
                        </div>
                      </div>
        
                      <ul class="px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownSearchButton">
                        <li *ngFor="let categoria of categorias()">
                          <div class="flex items-center ps-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                            <input id="checkbox-item-{{categoria.idCategoria}}" type="checkbox" [value]="categoria"
                              [checked]="existCategoria(categoria)"
                              (change)="existCategoria(categoria) ? quitarCategoria(categoria) : agregarCategoria(categoria)"
                              class="w-4 h-4 text-tiaras-wine bg-gray-100 border-gray-300 rounded-sm focus:ring-tiaras-beige dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            <label for="checkbox-item-{{categoria.idCategoria}}"
                              class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300 cursor-pointer">{{
                              categoria.nombre }}</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                <!-- Formulario de Insumos -->
                <div class="sm:col-span-2">
                    <label for="Precio"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Insumos</label>
                    <div class="relative">
                        <input type="text" #insumoInput
                            class="w-full border border-tiaras-beige rounded-md p-2 focus:ring-tiaras-beige focus:border-tiaras-wine"
                            placeholder="Buscar Insumo..." formControlName="insumoSearch"
                            (input)="onKeyPress(insumoInput.value)" (focus)="mostrarDropdown = true"
                            (blur)="ocultarDropdownConRetraso()">

                        <!-- Dropdown de opciones -->
                        <div *ngIf="mostrarDropdown"
                            class="absolute z-10 w-full bg-white border border-gray-200 rounded-md shadow-md mt-1">
                            <ul>
                                <li *ngFor="let insumo of insumosSearch" (mousedown)="selectInsumo(insumo)"
                                    class="p-2 hover:bg-gray-100 cursor-pointer">
                                    {{ insumo.nombre }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-4 mt-4">
                        <label for="insumoStock" class="block text-sm font-medium text-gray-700">Cantidad</label>
                        <input id="insumoStock" type="number" formControlName="insumoStock"
                            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-tiaras-beige focus:outline-none focus:ring-tiaras-beige focus:border-tiaras-wine sm:text-sm rounded-md">
                    </div>

                    <div class="mb-4">
                        <button type="button" (click)="addInsumo()"
                            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-tiaras-wine hover:bg-pallete-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tiaras-beige">
                            AgregarInsumo
                        </button>
                    </div>

                    <div class="overflow-x-auto">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-4 py-3">Insumo</th>
                                    <th scope="col" class="px-4 py-3">Cantidad</th>
                                    <th scope="col" class="px-4 py-3">
                                        <span class="sr-only">Acciones</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of insumosSeleccionados" class="bg-blue-50">
                                    <th scope="row"
                                        class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ item.insumo.nombre }}</th>
                                    <td class="px-4 py-3">{{ item.cantidad }}</td>
                                    <td class="px-4 py-3 flex items-center justify-center">
                                        <button type="button" (click)="editInsumo(item.insumo)"
                                            class="text-tiaras-wine hover:text-pallete-800 mx-3">Editar</button>
                                        <button type="button" (click)="removeInsumo(item.insumo)"
                                            class="text-tiaras-wine hover:text-pallete-800 mx-30">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Formulario de Insumos -->

                <div class="w-full sm:col-span-1">
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cargue
                        imagen 1</label>
                    <div class="flex items-center justify-center w-full">
                        <label for="dropzone-file-1"
                            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                            [ngClass]="{ 'border-green-500 bg-green-50 dark:bg-green-900': fileUploaded1 }">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6" *ngIf="!fileUploaded1">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                        class="font-semibold">Click to upload</span></p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX.
                                    800x400px)</p>
                            </div>
                            <div class="flex flex-col items-center justify-center pt-5 pb-6" *ngIf="fileUploaded1">
                                <svg class="w-8 h-8 mb-4 text-green-500 dark:text-green-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="mb-2 text-sm text-green-600 dark:text-green-400">Archivo subido: <strong>{{
                                        fileName1 }}</strong></p>
                            </div>
                            <input id="dropzone-file-1" type="file" formControlName="imagen1" class="hidden"
                                (change)="onFileSelect($event, 1)" />
                        </label>
                    </div>
                </div>
                <div class="w-full sm:col-span-1">
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cargue
                        imagen 2</label>
                    <div class="flex items-center justify-center w-full">
                        <label for="dropzone-file-2"
                            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                            [ngClass]="{ 'border-green-500 bg-green-50 dark:bg-green-900': fileUploaded2 }">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6" *ngIf="!fileUploaded2">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                        class="font-semibold">Click to upload</span></p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX.
                                    800x400px)</p>
                            </div>
                            <div class="flex flex-col items-center justify-center pt-5 pb-6" *ngIf="fileUploaded2">
                                <svg class="w-8 h-8 mb-4 text-green-500 dark:text-green-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="mb-2 text-sm text-green-600 dark:text-green-400">Archivo subido: <strong>{{
                                        fileName2 }}</strong></p>
                            </div>
                            <input id="dropzone-file-2" type="file" formControlName="imagen2" class="hidden"
                                (change)="onFileSelect($event, 2)" />
                        </label>
                    </div>
                </div>

                <div class="flex justify-start space-x-4 sm:col-span-2">
                    <button type="submit"
                        class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-tiaras-wine rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                        {{idProducto == undefined ? "Agregar Producto" : "Editar producto"}}
                    </button>
                    <app-btn [color]="'peach'" [routerLink]="'/administrador/inventories'">Volver</app-btn>
                </div>
            </div>
        </form>
    </div>
</section>