<section class=" py-8 antialiased dark:bg-gray-900 md:py-16">
  <form action="#" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-3xl">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Detalle del pedido
        #{{pedido()?.idPedido}}</h2>

      <div class="mt-6 space-y-4 border-b border-t border-gray-200 py-8 dark:border-gray-700 sm:mt-8">
        <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Información del cliente y dirección de envío
        </h4>

        <dl>
          <dt class="text-base font-medium text-gray-900 dark:text-white">Cliente</dt>
          <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
            {{pedido()?.cliente?.nombre | titlecase}}
            {{pedido()?.cliente?.apellidos | titlecase}} - Evento: {{pedido()?.evento}} - {{pedido()?.cliente?.telefono}}
          </dd>

          <dt class="text-base font-medium mt-2 text-gray-900 dark:text-white">Dirección de envío</dt>
          <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
            {{pedido()?.cliente?.ciudad}}, {{pedido()?.cliente?.pais}}, {{pedido()?.direccion}}.</dd>
        </dl>
        <div class="space-x-4">
          <button *ngIf="pedido()?.estadoPedido === 'Pendiente' || pedido()?.estadoPedido === 'En Proceso'"
            (click)="openDialog()" type="button"
            class="text-base font-medium text-primary-700 hover:underline dark:text-primary-500">
            Editar dirección
          </button>

          <button *ngIf="pedido()?.estadoPedido !== 'Pendiente' && pedido()?.estadoPedido !== 'En Proceso'"
            type="button" class="text-base font-medium text-primary-700 hover:underline dark:text-primary-500">
            Si el pedido está en estado Terminado, no se puede editar la dirección
          </button>

          <button *ngIf="pedido()?.valorPagado < pedido()?.valorTotal" (click)="openDialogPagos()" type="button"
            class="text-base font-medium text-tiaras-wine hover:underline dark:text-primary-500">
            Registrar pago
          </button>
        </div>

      </div>

      <div class="mt-6 sm:mt-8">
        <div class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800">
          <table class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed">
            <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
              <tr *ngFor="let item of pedido()?.__items__; let i = index" class="md:table-row">
                <td class="whitespace-nowrap py-4 md:w-[384px]">
                  <div class="flex items-center gap-4">
                    <a class="flex items-center aspect-square w-14 h-14 shrink-0">
                      <img class="h-auto w-full max-h-full dark:hidden"
                        [src]="'http://localhost:3000/tiaras/api/uploads/' + item.producto.imagenes?.[0]"
                        [alt]="item.producto.nombre" />
                      <img class="hidden h-auto w-full max-h-full dark:block"
                        [src]="'http://localhost:3000/tiaras/api/uploads/' + item.producto.imagenes?.[0]"
                        [alt]="item.producto.nombre" />
                    </a>
                    <a class="hover:underline">{{item.producto.nombre | uppercase}}</a>
                  </div>
                </td>

                <td class="p-4 text-base font-normal text-gray-900 dark:text-white">x{{item.cantidad}}</td>

                <td class="p-4 text-right text-base font-bold text-gray-900 dark:text-white">{{item.producto.precio |
                  currency:'$':'symbol':'1.0'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-4 space-y-6">
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Resumen de pedido</h4>

          <div class="space-y-4">
            <div class="space-y-2">

              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Estado del pedido</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">{{pedido()?.estadoPedido}}</dd>
              </dl>
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Estado del pago</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">{{pedido()?.estadoPago}}</dd>
              </dl>
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Fecha de pedido</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">{{pedido()?.fechaPedido}}</dd>
              </dl>
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Estado de entrega</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">{{pedido()?.fechaEntrega}}</dd>
              </dl>
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Envío</dt>
                <dd class="text-base font-medium text-gray-900 dark:text-white">{{shipment|
                  currency:'$':'symbol':'1.0'}}</dd>
              </dl>
              <dl class="flex items-center justify-between gap-4">
                <dt class="text-gray-500 dark:text-gray-400">Valor Pagado</dt>
                <dd class="text-base font-medium text-green-600 dark:text-white">{{pedido()?.valorPagado|
                  currency:'$':'symbol':'1.0'}}</dd>
              </dl>
            </div>

            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
              <dt class="text-lg font-bold text-gray-900 dark:text-white">Valor total</dt>
              <dd class="text-lg font-bold text-gray-900 dark:text-white">{{pedido()?.valorTotal |
                currency:'$':'symbol':'1.0'}}</dd>
            </dl>
          </div>

          <div class="gap-4 sm:flex sm:items-center">
            <button *ngIf="pedido()?.estadoPedido !== 'Incidencia'" #buttonModal type="button" data-modal-target="formModal" data-modal-toggle="formModal"
              class="flex w-full items-center justify-center rounded-lg border-gray-200 bg-white px-5  py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
              <svg class="w-6 h-6 text-gray-900 hover:text-primary-700 focus:z-10 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              Cancelar o reembolsar pedido
            </button>

            <button (click)="procesarPedido()"
              *ngIf="pedido()?.estadoPedido === 'Pendiente'" type="button"
              class="mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700  px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0">
              Procesar Pedido
            </button>

            <button (click)="terminarPedido()"
              *ngIf="pedido()?.estadoPedido === 'En Proceso' && pedido()?.estadoPago === '100% Pagado'" type="button"
              class="mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700  px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0">
              Terminar pedido
            </button>

            <button type="submit" routerLink="/vendedor/orders-history"
              class="mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700  px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0">
              <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 12h14M5 12l4-4m-4 4 4 4" />
              </svg>
              Volver
            </button>
          </div>

          <!-- Main modal -->
          <div #formModal id="formModal" tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
            <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
              <!-- Modal content -->
              <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div
                  class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Cancelar o reembolsar pedido
                  </h3>
                  <button data-modal-hide="formModal" (click)="closeModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>

                <!-- Modal body -->
                <form [formGroup]="formReembolso" (ngSubmit)="enviarFormulario()">
                  <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div class="sm:col-span-2">
                      <label for="bancoDestino"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Banco de destino</label>
                      <input type="text" name="bancoDestino" id="bancoDestino" formControlName="bancoDestino"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Banco de destino">
                    </div>
                    <div class="sm:col-span-2">
                      <label for="cuentaBancaria"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cuenta bancaria</label>
                      <input type="text" name="cuentaBancaria" id="cuentaBancaria" formControlName="cuentaBancaria"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Cuenta bancaria">
                    </div>

                    <div class="sm:col-span-2">
                      <label for="detalles"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Detalles de la cancelación o reembolso</label>
                      <textarea id="detalles" rows="4" formControlName="detalles"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Detalle el motivo de la cancelación o reembolso"></textarea>
                    </div>
                  </div>

                  <button type="submit"
                    class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Agregar cancelación y reembolso
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>