<footer class="p-4 bg-gray-50 md:p-4 lg:p-4 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <a  class="flex mb-3 justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="block w-auto h-20 dark:hidden" src="../../../../../assets/logo_tiarascol.png" alt="logo tiaras colombia">   
      </a>
     
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a class="hover:underline">Tiaras Colombia</a>. All Rights Reserved.</span>
  </div>
</footer>
