
<section class="dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Agregue un nuevo producto</h2>
        <form [formGroup]="createProductoForm" (ngSubmit)="onSubmit()">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del
                        producto</label>
                    <input type="text" formControlName="nombre" id="nombre"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Nombre del producto">
                </div>
                <div class="sm:col-span-2">
                    <label for="descripcion"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                    <textarea id="descripcion" rows="8" formControlName="descripcion"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Describe el producto aquí"></textarea>
                </div>

                <div class="w-full">
                    <label for="Precio"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Precio</label>
                    <input type="number" formControlName="precio" id="precio"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="$2999">
                </div>

                <!-- Lista de categorías agregadas -->
                <div class="sm:col-span-2" *ngIf="categoriasAgregadas().length > 0">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Categorias agregadas:</h3>
                    <ul class="list-disc pl-5 mt-2">
                        <li *ngFor="let categoria of categoriasAgregadas()" class="text-sm text-gray-700 dark:text-gray-300">
                            {{ categoria.nombre }}
                            <button type="button" (click)="eliminarCategoria(categoria)"
                                class="text-red-500 hover:text-red-700 ml-2">
                                Eliminar
                            </button>
                        </li>
                    </ul>
                </div>

                <!-- Select with Search -->
                 <div class="sm:col-span-2">
                    <div #dropdownSearch id="dropdownSearch" class="z-10 bg-white rounded-lg shadow-sm w-60 dark:bg-gray-700 w-full">
                        <div class="p-3 w-100">
                            <label for="input-group-search" class="sr-only">Buscar...</label>
                            <div class="relative">                                
                                <app-input (onDebounce)="buscarCategoria($event)">Categorías</app-input>
                            </div>
                        </div>
                        
                        <ul class="px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
                            <li *ngFor="let categoria of categorias()">
                                <div *ngIf="!categoriasAgregadas().includes(categoria)" class="flex items-center ps-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                                    <input id="checkbox-item-11" type="checkbox" [value]="categoria" (change)="agregarCategoria(categoria)" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="checkbox-item-11" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300">{{ categoria.nombre }}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                 </div>
    

                <!-- <div>
                    <label for="idInsumo"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Insumo</label>
                    <select id="idInsumo" formControlName="idInsumo" class="...">
                        <option *ngFor="let insumo of insumos()" [value]="insumo.idInsumo">{{insumo.nombre}}</option>
                    </select>
                </div>
                <div>
                    <label for="cantidadInsumo"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad</label>
                    <input type="number" formControlName="cantidadInsumo" id="cantidadInsumo" class="..."
                        placeholder="1">
                </div>
                <div class="sm:col-span-2">
                    <button type="button" (click)="agregarInsumo()"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700">
                        Agregar Insumo
                    </button>
                </div> -->

                <!-- Lista de insumos agregados -->
                <!-- <div class="sm:col-span-2" *ngIf="insumosAgregados().length > 0">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Insumos agregados:</h3>
                    <ul class="list-disc pl-5 mt-2">
                        <li *ngFor="let insumo of insumosAgregados()" class="text-sm text-gray-700 dark:text-gray-300">
                            {{ getNombreInsumo(insumo.idInsumoProducto?.toString() || '') }} - Cantidad: {{ insumo.cantidad }}
                            <button type="button" (click)="eliminarInsumo(insumo)"
                                class="text-red-500 hover:text-red-700 ml-2">
                                Eliminar
                            </button>
                        </li>
                    </ul>
                </div> -->

                <!-- <div>
                    <label for="cantidadInsumo"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad de insumo</label>
                    <input type="number" formControlName="cantidadInsumo" id="cantidadInsumo"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="1">
                </div> -->
                <div class="sm:col-span-2">
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cargue
                        imagen del producto</label>
                    <div class="flex items-center justify-center w-full">
                        <label for="dropzone-file"
                            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                            [ngClass]="{ 'border-green-500 bg-green-50 dark:bg-green-900': fileUploaded }">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6" *ngIf="!fileUploaded">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                        class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX.
                                    800x400px)</p>
                            </div>
                            <div class="flex flex-col items-center justify-center pt-5 pb-6" *ngIf="fileUploaded">
                                <svg class="w-8 h-8 mb-4 text-green-500 dark:text-green-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 13l4 4L19 7" />
                                </svg>
                                <p class="mb-2 text-sm text-green-600 dark:text-green-400">Archivo subido: <strong>{{
                                        fileName }}</strong></p>
                            </div>
                            <input id="dropzone-file" type="file" formControlName="imagen" class="hidden"
                                (change)="onFileSelect($event)" />
                        </label>
                    </div>
                </div>

                <div class="flex justify-start space-x-4 sm:col-span-2">
                    <button type="submit"
                      class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                      Agregar Producto
                    </button>
                    <app-btn [color]="'peach'" [routerLink]="'/administrador/inventories'">Volver</app-btn>
                </div>
            </div>
        </form>
    </div>
</section>